<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<resultMap type="board" id="boardMap">
		<result property="id" column="id" jdbcType="NUMERIC" />
		<result property="index" column="index" jdbcType="NUMERIC" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="description" column="description"
			jdbcType="VARCHAR" />
			<result property="url" column="url"
			jdbcType="VARCHAR" />
		<result property="isActive" column="is_active" jdbcType="CHAR" />
	</resultMap>

	<insert id="addBoard" parameterType="Board">
		<selectKey resultType="int" keyProperty="id" order="BEFORE">
			SELECT
			nextval('board_id_seq')
		</selectKey>	
		INSERT INTO
		board
		(id, index, name, description, url, is_active)
		VALUES
		(#{id}, (SELECT MAX(index)+1 FROM board), #{name}, #{description}, #{url}, 'A')
	</insert>

	<select id="getBoardList" resultMap="boardMap">
		/* boardMapper.getBoardList 게시판 카테고리 조회 */
		/* 쿼리문에 위에 주석처럼 경로랑 아이디 적어두면 나중에 로그 분석할 때나 다음에 수정해야할 때 편해요 */
		SELECT
			id, index, name,
			description, is_active, url
		FROM
			board
		WHERE 
			is_active='A'
		ORDER BY
			index ASC
	</select>

	<select id="getBoardListForModify" resultMap="boardMap">
		SELECT
			id, index, name,
			description, is_active ,url
		FROM
			board
		ORDER BY
			index ASC
	</select>


</mapper>